.liked {
  background-color: aquamarine;
  border: 1px solid white;
}

.unliked {
  background-color: aliceblue;
  border: 1px solid black;
}

.img-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
